@charset "utf-8";
* {margin: 0; border: none; padding: 0;}
body, html {width: 100%; height: 100%; overflow: hidden;}
ul, li {list-style: none;}

@mixin abs{
    position: absolute;
}

/*主菜单*/
#main {
	width: 480px;
	height: 100%;
	background: url(../images2/bg.jpg) repeat-y;
	margin: 0 auto;
    position: relative;
    #list {
        width: 200px;
        @include abs;
        left: 140px;
        top: 100px;
        li {
            width: 198px;
            height: 70px;
            border: 1px solid black;
            background: #f46;
            color: white;
            font-size: 30px;
            font-family: "微软雅黑";
            text-align: center;
            line-height: 70px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}


/*加载游戏界面*/
.logo {
	width: 428px; height: 104px;
	background: url(../images2/logo.png) no-repeat;
	@include abs;
	left: 26px; top: 20%;
}
.load {
	width: 200px; height: 42px;
	background: url(../images2/loading1.png) no-repeat;
	@include abs;
    left: 140px; top: 70%;
}


/*游戏主界面*/
/*我的飞机*/
.myplane{
	width: 98px; height: 122px;
	background: url(../images2/me.png) no-repeat;
	@include abs;
}

/*子弹*/
.bullet {
	width: 7px; height: 18px;
	background: url(../images2/bullet.png) no-repeat;
	@include abs;
}
/*子弹-die*/
.bullet-die {
	width: 40px; height: 43px;
	background: url(../images2/die1.png) no-repeat;
	@include abs;
}

/*大型敌机*/
.enemy-large {
	width: 165px; height: 256px;
	background: url(../images2/plane3.png) no-repeat;
    @include abs;
}
/*中型敌机*/
.enemy-middle {
	width: 70px; height: 92px;
	background: url(../images2/plane2.png) no-repeat;
    @include abs;
}
/*小型敌机*/
.enemy-small {
	width: 59px; height: 36px;
	background: url(../images2/plane1.png) no-repeat;
	@include abs;
}


